<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">
    <resultMap id="userRoleDto" type="org.example.entity.User">
        <id property="userId" column="user_id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="phone" column="phone"></result>
        <result property="sex" column="sex"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="remark" column="remark"></result>
    </resultMap>

    <!-- 分页查询用户，按昵称、账号、手机号、创建时间区间动态筛选。 -->
    <select id="queryUser" resultMap="userRoleDto">
        select su.*
        from sys_user su
        where 1 = 1
        <if test="nickname != null and nickname != ''">
            and su.nickname like concat('%', #{nickname}, '%')
        </if>
        <if test="username != null and username != ''">
            and su.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and su.phone like concat('%', #{phone}, '%')
        </if>
        <if test="startTime != null and startTime != ''">
            and date_format(su.create_time, '%Y%m%d') &gt;= date_format(#{startTime}, '%Y%m%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and date_format(su.create_time, '%Y%m%d') &lt;= date_format(#{endTime}, '%Y%m%d')
        </if>
    </select>
</mapper>
